<div class="container">
  <h1>Show Contact</h1>
  <hr>
  <%#= h @contact.inspect # Uncomment beginning of line to see contact object %>

  <!-- Implement displaying all contacts -->

  <h2>Generated using &nbsp;&nbsp; <code>@contact.attributes.each</code></h2>
  <% @contact.attributes.each do |key,value| %>
    <p><%= "#{titleize_key(key)}: #{value}" %></p>
  <% end %>

  <hr>
  
  <h2>Generated manually typing each attribute and value</h2>
  <p>First Name: <%= @contact.first_name %></p>
  <p>Last Name: <%= @contact.last_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Phone: <%= @contact.phone_number %></p>

  <p><a href='/contacts'>View all contacts</a>


</div>
